* {
    background: radial-gradient(pink, lightblue)
}

.titulo-principal{
    color: yellowgreen;
    background: repeating-radial-gradient(green, blue);
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

#titulo-2{
    background-color: black;
    color: chartreuse;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(blue, red);
}

.titulo-3{
    color: goldenrod;
    text-align: center;
    background: linear-gradient(grey, blue);
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
}

.caja{
    display: inline;
}